$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #036b77 !default;
$positivelight: #B2D2D5;
$calm: #55b400 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$assertivelight:#ff7f7f;
$royal: #886aea !default;
$dark: #444 !default;
$graylight: #cccccc;
$gradientstart:#0cb9cf;
$gradientend:#098a99;
$blacktransparent:rgba(0, 0, 0, 0.5);

@mixin transition($transtion) {
  -webkit-transition: all $transtion ease;
  -moz-transition: all $transtion ease;
  -ms-transition: all $transtion ease;
  -o-transition: all $transtion ease;
  transition: all $transtion ease;
}
