<ion-view cache-view="false" view-title="{{'titleAnswerSend' |  translate}}">
  <ion-content padding="true" ng-controller="AnswerSendController">
    <form name="formModel" ng-submit="submit()" novalidate>
      <div class="info">
        <h3 class="question">{{notificationData.question.question}}</h3>
        <hr>
        <h5>
          <strong>{{notificationData.team.subgroup.group.name}} / {{notificationData.team.subgroup.name}} / {{notificationData.team.name}}</strong>
        </h5>
      </div>
      <div class="technique" ng-include src="getTechniqueTemplate()"></div>
      <input type="hidden" ng-model="form.answer" required>
      <div class="spacer"></div>
      <button type="submit" class="button button-positive button-block">{{'labelAnswer' | translate}}</button>
      <div class="spacer"></div>
    </form>
  </ion-content>
</ion-view>
