<ion-view view-title="{{'titleAnswer' |  translate}}">
  <ion-content ng-controller="AnswersController">
    <ion-refresher pulling-text="{{'msgPullToRefresh' | translate}}..." on-refresh="getAnswerList(false)"></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in answers">
        <div class="row">
          <div class="col">
            <h3>
              <strong>{{'labelTeam'| translate}}:</strong>
              {{item.scheduler.team.name}}
            </h3>
            <h3>
              <strong>{{'labelGroup'| translate}}:</strong>
              {{item.scheduler.team.subgroup.group.name}}/{{item.scheduler.team.subgroup.name}}
            </h3>
            <h3>
              <strong>{{'labelQuestion'| translate}}:</strong>
              {{item.scheduler.question.question}}
            </h3>
            <div class="spacer"></div>
          </div>
        </div>
        <div class="row">
          <h3 class="col col-50 text-left">{{item.date | date: "dd/MM/yyyy"}}</h3>
          <h3 class="col col-50 text-right">{{item.time}}</h3>
        </div>
      </ion-item>
    </ion-list>
    <h4 class="padding not-found" ng-hide="answers.length">
      {{'msgAnswerNotFound' | translate}}
    </h4>
  </ion-content>
</ion-view>
