<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <button type="button" class="button button-clear only-ios" ng-click="newTeam()" ng-show="isTeams">
            {{'labelAdd' | translate}}
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-positive tabs-icon-top" on-swipe-right="goBack()" on-swipe-left="goForward()">

    <ion-tab title="{{'titleHome' |  translate}}" on-select="onTabSelected(this)" on-deselect="onTabDeselected(this)" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'titleTeams' |  translate}}" on-select="onTabSelected(this)" on-deselect="onTabDeselected(this)" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="teams">
        <ion-nav-view name="teams"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'titleAnswer' |  translate}}" on-select="onTabSelected(this)" on-deselect="onTabDeselected(this)" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="answer">
        <ion-nav-view name="answer"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'titleMyAccount' |  translate}}" on-select="onTabSelected(this)" on-deselect="onTabDeselected(this)" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="myAccount">
        <ion-nav-view name="myAccount"></ion-nav-view>
    </ion-tab>

</ion-tabs>
