<ion-view view-title="{{'titleLogin' |  translate}}" hide-nav-bar="true">
  <ion-content padding="true" ng-controller="LoginController" class="layout-column layout-align-center-center">
    <section>
      <form name="formModel" class="padding-vertical" ng-submit="submit()" novalidate>
        <ion-list>
          <label class="item item-input item-stacked-label">
            <span class="input-label">{{'labelRegister' | translate}}</span>
            <input required ng-keypress="alphaNumeric(form, 'register')" ng-blur="alphaNumeric(form, 'register')" ng-focus="alphaNumeric(form, 'register')" ng-model="form.register" name="register" type="text"
              maxlength="80" placeholder="{{'labelUsername'  | translate}}">
          </label>
          <label class="item item-input item-stacked-label" ng-class="{'input-validate' : form.password.test('.{6,16}'), 'input-invalidate': (!form.password.test('.{6,16}') && form.password)}">
            <span class="input-label">{{'labelPassword' | translate}}</span>
            <input required ng-model="form.password" name="password" type="password" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
          </label>
        </ion-list>
        <div class="spacer"></div>
        <button type="submit" class="button button-positive button-block">{{'buttonEnter' | translate}}</button>
        <button type="button" ng-click="goToSignUp()" class="button button-dark button-block button-clear">{{'labelSignUp'
          | translate}}</button>
        <button type="button" ng-click="goToLostPassword()" class="button button-dark button-block button-clear">{{'labelLostPassword'
          | translate}}</button>
        <div class="spacer"></div>
      </form>
    </section>
  </ion-content>
</ion-view>
