<ion-view view-title="{{'titleLostPassword' |  translate}}">
  <ion-content padding="true" has-header="true" ng-controller="LostPasswordController">
    <form name="formModel" ng-submit="submit()" novalidate>
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelEmail' |  translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.email" name="register" type="email" maxlength="45" placeholder="">
        </label>
      </ion-list>
      <div class="spacer"></div>
      <button type="submit" class="button button-positive button-block">{{'buttonSend' | translate}}</button>
      <div class="spacer"></div>
    </form>
  </ion-content>
</ion-view>
