<ion-view cache-view="false" view-title="{{'titleMyAccount' |  translate}}">
  <ion-content padding="true" has-header="true" ng-controller="MyAccountController">
    <form name="formModel" ng-submit="submit()" novalidate>
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelName' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.name" name="name" type="text" maxlength="80" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelEmail' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.email" name="email" type="email" maxlength="45" placeholder="">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">{{'labelSex' | translate}}
          </span>
          <select name="sex" ng-model="form.sex">
            <option value="NIL">Não Informado</option>
            <option value="HC">Homem</option>
            <option value="MC">Mulher</option>
            <option value="IN">Intersexual</option>
            <!-- <option value="HT">Homem Trans</option>
            <option value="MT">Mulher Trans</option>
            <option value="NB">Não-Binário</option> -->
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelRegister' | translate}}
          </span>
          <input disabled ng-model="form.register" name="register" type="text" maxlength="15" placeholder="">
        </label>
        <div class="item item-input">
          <label class="item-stacked-label">
            <span class="input-label">{{'labelDateBirth' | translate}}</span>
            <input ng-model="form.datebirth" name="datebirth" type="date">
          </label>
        </div>
        <div class="spacer"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelCurrentPassword' | translate}}
            <strong class="assertive"></strong>
          </span>
          <input ng-model="form.password" name="password" type="password" pattern=".{6,16}" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelNewPassword' | translate}}
            <strong class="assertive" ng-show="form.password.length > 0">*</strong>
          </span>
          <input ng-required="form.password.length > 0" ng-model="form.newpassword" name="newpassword" type="password"
            pattern=".{6,16}" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelPasswordConfirm' | translate}}
            <strong class="assertive" ng-show="form.password.length > 0">*</strong>
          </span>
          <input ng-required="form.password.length > 0" ng-model="form.newpassword_" name="newpassword_" type="password"
            pattern=".{6,16}" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
        </label>
      </ion-list>
      <div class="spacer"></div>
      <button type="submit" class="button button-positive button-block">{{'labelUpdate' | translate}}</button>
      <div class="spacer">
        <hr>
      </div>
    </form>
    <button type="button" class="button button-dark button-block" ng-click="logoutApp()">{{'labelLogout' | translate}}</button>
    <div class="spacer"></div>
  </ion-content>
</ion-view>
