<ion-view cache-view="false" view-title="{{'titleNewTeam' |  translate}}">
    <ion-content padding="true" ng-controller="NewTeamController">
        <form name="formModel" ng-submit="submit()" novalidate>
            <ion-list>
                <label class="item item-input item-select">
                    <div class="input-label">{{'labelGroup' |  translate}}<strong class="assertive">*</strong></div>
                    <select required ng-model="form.group" ng-options="item as item.name for item in groups track by item.id" ng-change="changeGroup()"></select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">{{'labelSubgroup' |  translate}}<strong class="assertive">*</strong></div>
                    <select required ng-model="form.subgroup" ng-options="item as item.name for item in subgroups track by item.id" ng-change="changeSubgroup()"></select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">{{'labelTeam' |  translate}}<strong class="assertive">*</strong></div>
                    <select required ng-model="form.team" ng-options="item as item.name for item in teams track by item.id"></select>
                </label>
            </ion-list>
            <div class="spacer"></div>
            <ion-list ng-show="form.team">
                <ion-item class="no-border">
                    <strong>{{'labelUnit' | translate}}:</strong> {{form.team.unit.name}}
                </ion-item>
            </ion-list>
            <div class="spacer"></div>
            <button type="submit" class="button button-positive button-block">{{'buttonSignUp' | translate}}</button>
            <div class="spacer"></div>
        </form>
    </ion-content>
</ion-view>
