<ion-view view-title="{{'titleSignUp' |  translate}}">
  <ion-content padding="true" has-header="true" ng-controller="SignupController">
    <form name="formModel" ng-submit="submit()" novalidate>
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelName' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.name" name="name" type="text" maxlength="80" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelEmail' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.email" name="email" type="email" maxlength="45" placeholder="">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">{{'labelSex' | translate}}
          </span>
          <select ng-model="form.sex">
            <option value="NIL">Prefiro não informar</option>
            <option value="HC">Homem</option>
            <option value="MC">Mulher</option>
            <option value="IN">Intersexual</option>
            <!-- <option value="HT">Homem Trans</option>
            <option value="MT">Mulher Trans</option>
            <option value="NB">Não-Binário</option> -->
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'labelRegister' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-trim="true" ng-keypress="alphaNumeric(form, 'register')" ng-blur="alphaNumeric(form, 'register')" ng-focus="alphaNumeric(form, 'register')" ng-model="form.register" name="register" type="text" maxlength="15" placeholder="{{'labelUsername'  | translate}}">
        </label>
        <div class="item item-input">
          <label class="item-stacked-label">
            <span class="input-label">{{'labelDateBirth' | translate}}</span>
            <input ng-model="form.datebirth" name="datebirth" type="date">
          </label>
        </div>
        <label class="item item-input item-stacked-label" ng-class="{'input-validate' : form.password.test('.{6,16}'), 'input-invalidate': (!form.password.test('.{6,16}') && form.password)}">
          <span class="input-label">{{'labelPassword' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.password" name="password" type="password" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
        </label>
        <label class="item item-input item-stacked-label" ng-class="{'input-validate' : form.password_.test('.{6,16}'), 'input-invalidate': (!form.password_.test('.{6,16}') && form.password_)}">
          <span class="input-label">{{'labelPasswordConfirm' | translate}}
            <strong class="assertive">*</strong>
          </span>
          <input required ng-model="form.password_" name="password" type="password" maxlength="16" placeholder="{{'msgEnterPassword' | translate}}">
        </label>
      </ion-list>
      <div class="spacer"></div>
      <button type="submit" class="button button-positive button-block">{{'labelRegiter' | translate}}</button>
      <div class="spacer"></div>
    </form>
  </ion-content>
</ion-view>
