<ion-view view-title="{{'titleTeams' |  translate}}">
    <ion-content ng-controller="TeamsController">
        <ion-refresher pulling-text="{{'msgPullToRefresh' | translate}}..." on-refresh="getTeamList(false)">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in teams">
                <small><strong>{{'labelTeam' | translate}}:</strong> {{item.name}}</small><br>
                <small><strong>{{'labelSubgroup' | translate}}:</strong> {{item.subgroup.name}}</small><br>
                <small><strong>{{'labelUnit' | translate}}:</strong> {{item.unit.name}}</small>
                <button class="delete ion-minus-circled assertive" type="button" ng-click="delete(item)"></button>
            </ion-item>
        </ion-list>
    </ion-content>
    <button type="button" class="ion-plus android-fluid-button only-android" ng-click="newTeam()" ng-show="isTeams">
    </button>
</ion-view>
