<ion-view view-title="{{'titleTerms' |  translate}}" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">{{'titleTerms' | translate}}</h1>
  </ion-header-bar>
  <ion-content padding="true" ng-controller="TermController">
    <div class="term">
      <h2>Termos de Uso e Política de Privacidade</h2>
    </div>
    <div class="spacer"></div>
    <button type="button" ng-click="submit()" class="button button-positive button-block">{{'msgtermAcceptAfterRead' |
      translate}}</button>
  </ion-content>

</ion-view>
