<ion-view view-title="{{'titleTerms' |  translate}}" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">{{'titleTerms' | translate}}</h1>
  </ion-header-bar>
  <ion-content padding="true" ng-controller="TermController">
    <div class="term">
      <h2>Termos de Uso e Política de Privacidade</h2>

      <p>O aplicativo <strong>UXSense</strong> é um aplicativo gratuito. Este aplicativo é
        fornecido sem nenhum custo e destina-se a ser usado como está.</p>

      <p>Este termo é usado para informar aos utilizadores do aplicativo sobre nossas políticas com a coleta, uso e
        divulgação de Informações
        Pessoais se alguém decidiu usar nosso aplicativo.</p>

      <p>Se você optar por usar nosso aplicativo, você concorda com a coleta e uso de informações em relação a esta
        política. As
        Informações Pessoais que coletamos são usadas para apoiar a análise da experiência de usuário sobre sobre
        quaisquer ambiente, produto, serviço ou ferramenta. Não compartilharemos
        suas informações com ninguém, exceto conforme descrito nesta Política de Privacidade.</p>

      <h3>Coleta e uso de informações</h3>

      <p>Para uma melhor experiência, ao usar nosso aplicativo, podemos exigir que você nos forneça certas informações
        pessoalmente
        identificáveis. A informação que solicitamos será mantida por nós e usada conforme a necessidade das análises
        de
        experiência de usuário e
        descrita nesta política de privacidade.</p>

      <p>O aplicativo insere e utiliza os dados de um sistema desenvolvido especificamente para capturar dados de
        experiência de usuário através de perguntas e respostas enviadas periodicamente através de notificações push e
        este aplicativo coleta estas informações para
        identificá-lo.</p>

      <p>Para utilizar este aplicativo o cliente deve informar o nome, e-mail, sexo e data de nascimento. Sendo o nome
        e
        e-mail campos obrigatórios pois serão utilizados unicamente para recuperação de senha. Já os dados de sexo e
        data de nascimento são para melhorar as análises das perguntas com a identificação de faixa etária e sexo</p>

      <p>O aplicativo UXSense também solicita a sua localização no momento que você for responder as perguntas, pois
        com estes dados o avaliador de UX poderá adotar metodologias diferentes de avaliação de UX. Isso é utilizado para que o
        avaliador de UX sabia quais métodos e medidas de UX vai utilizar para realizar a análise das respostas capturadas, pois existem momentos em que
        se torna necessário que o usuário esteja no local do grupo para que o resultado da avaliação seja mais preciso.</p>

      <h3>Dados de registro</h3>

      <p>Queremos informá-lo de que sempre que você usa o nosso aplicativo, em caso de erro no aplicativo, coletamos
        dados e informações
        (por meio de produtos de terceiros) em seu telefone chamado Log Data. Esses dados do registro podem incluir
        informações
        como o endereço do seu dispositivo (IP), o nome do dispositivo, a versão do sistema operacional, a configuração
        do
        aplicativo quando utilizar o nosso aplicativo, a hora e a data do uso do aplicativo e outras estatísticas.</p>

      <h3>Provedores de serviço</h3>

      <p>Podemos empregar empresas terceirizadas e pessoas físicas devido às seguintes razões:</p>
      <ul>
        <li>Para facilitar e melhorar o nosso aplicativo;</li>
        <li>Para prestar serviços em nosso nome;</li>
        <li>Para executar serviços relacionados ao aplicativo; ou</li>
        <li>Para nos ajudar a analisar como nosso aplicativo é usado.</li>
      </ul>

      <p>Queremos informar aos usuários deste aplicativo que estes terceiros podem ter acesso às suas Informações
        Pessoais. A razão é
        executar as tarefas que lhes são atribuídas em nosso nome. No entanto, eles são obrigados a não divulgar ou
        usar
        a informação para qualquer outra finalidade.</p>

      <h3>Segurança</h3>

      <p>Nós valorizamos sua confiança em nos fornecer suas Informações Pessoais, portanto estamos nos esforçando para
        usar
        meios comercialmente aceitáveis ​​para protegê-la. Mas lembre-se de que nenhum método de transmissão através da
        internet,
        ou método de armazenamento eletrônico é 100% seguro, assim sendo, não podemos garantir sua segurança absoluta.</p>

      <h3>Links para outros sites ou aplicativos</h3>

      <p>Este serviço pode conter links para outros sites ou aplicativos. Se você clicar em um link de terceiros, você
        será
        direcionado para esse site ou aplicativo. Observe que esses sites externos não são operados por nós. Portanto,
        recomendamos
        que você analise a Política de Privacidade desses sites ou aplicativos. Não temos controle e não assumimos
        qualquer
        responsabilidade pelo conteúdo, políticas de privacidade ou práticas de qualquer site ou serviço de terceiros.</p>

      <h3>Privacidade infantil</h3>

      <p>Esses aplicativos não atendem a qualquer pessoa com menos de 13 anos. Não colecionamos coletivamente
        informações
        de identificação
        pessoal de menores de 13 anos. No caso de descobrimos que uma criança com menos de 13 anos nos forneceu
        informações
        pessoais, nós imediatamente excluímos isso de nossos servidores. Se você é pai ou responsável e está ciente de
        que
        seu filho nos forneceu informações pessoais, entre em contato conosco para que possamos realizar as ações
        necessárias.</p>

      <h3>Alterações nesta Política de Privacidade</h3>

      <p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Assim, é aconselhável revisar esta página
        periodicamente para qualquer alteração. Nós notificaremos você de quaisquer alterações publicando a nova
        Política
        de Privacidade neste aplicativo. Essas alterações são efetivas imediatamente após serem publicadas neste
        aplicativo.</p>

      <h3>Contate-nos</h3>

      <p>Se você tiver dúvidas ou sugestões sobre nossa Política de Privacidade, não hesite em contactar-nos pelo
        e-mail
        <a href="mailto:joaojunior.mail@gmail.com">joaojunior.mail@gmail.com</a>.</p>
    </div>
    <div class="spacer"></div>
    <button type="button" ng-click="submit()" class="button button-positive button-block">{{'msgtermAcceptAfterRead' |
      translate}}</button>
  </ion-content>

</ion-view>
