<div class="panas">
  <div class="helper-tech">toque em uma opção entre 1 e 5 para cada sentimento, sendo 1 para "Nada ou muito ligeiramente" e 5 para "Extremamente"</div>
  <div class="data">
    <table>
      <tr>
        <td>Ativo</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Interessado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Empolgado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Forte</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Entusiasmado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Orgulhoso</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Inspirado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Determinado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Atento</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Alerta</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Aflito</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Chateado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Culpado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Apavorado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Hostil</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Irritável</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Commedo</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Envergonhado</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Nervoso</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
      <tr>
        <td>Inquieto</td>
        <td ng-click="setResponse($event)">1</td>
        <td ng-click="setResponse($event)">2</td>
        <td ng-click="setResponse($event)">3</td>
        <td ng-click="setResponse($event)">4</td>
        <td ng-click="setResponse($event)">5</td>
      </tr>
    </table>
  </div>
</div>
