<div class="premo">
  <div class="helper-tech">Escolha uma ou mais emoções que representam o seu sentimento</div>
  <div class="data">
    <ion-list>
      <ion-checkbox ng-model="premo.desejo" id="desejo" ng-change="setResponse('desejo')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/01.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Desejo</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.surpresa_agradavel" id="surpresa_agradavel" ng-change="setResponse('surpresa_agradavel')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/02.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Surpresa Agradável</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.interesse" id="interesse" ng-change="setResponse('interesse')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/03.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Interesse</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.deleite" id="deleite" ng-change="setResponse('deleite')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/04.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Deleite</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.satisfacao" id="satisfacao" ng-change="setResponse('satisfacao')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/05.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Satisfação</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.admiracao" id="admiracao" ng-change="setResponse('admiracao')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/06.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Admiração</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.fascinio" id="fascinio" ng-change="setResponse('fascinio')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/07.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Fascínio</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.desgosto" id="desgosto" ng-change="setResponse('desgosto')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/08.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Desgosto</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.indignacao" id="indignacao" ng-change="setResponse('indignacao')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/09.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Indignação</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.desprezo" id="desprezo" ng-change="setResponse('desprezo')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/10.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Desprezo</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.surpresa_desagradavel" id="surpresa_desagradavel" ng-change="setResponse('surpresa_desagradavel')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/11.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Surpresa Desagradável</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.insatisfacao" id="insatisfacao" ng-change="setResponse('insatisfacao')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/12.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Insatisfação</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.frustracao" id="frustracao" ng-change="setResponse('frustracao')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/13.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Frustração</h2>
          </div>
        </div>
      </ion-checkbox>
      <ion-checkbox ng-model="premo.monotonia" id="monotonia" ng-change="setResponse('monotonia')">
        <div class="layout-row layout-align-flex-start-center">
          <object type="image/svg+xml" data="img/premo/14.svg">
          </object>
          <div class="layout-column layout-align-center-center">
            <h2>Monotonia</h2>
          </div>
        </div>
      </ion-checkbox>
    </ion-list>
  </div>
</div>
