<div class="esm">
  <div class="helper-tech">Escolha o emoji que melhor representa sua satisfação</div>
  <div class="data">
    <div class="row">
      <div class="col">
        <ion-radio ng-model="esmradio" value="'muito_satisfeito'" id="muito_satisfeito" ng-click="setResponse('muito_satisfeito')">
          <object type="image/svg+xml" data="img/esm/esm-01.svg">
          </object>
        </ion-radio>
      </div>
      <div class="col">
        <ion-radio ng-model="esmradio" value="'satisfeito'" id="satisfeito" ng-click="setResponse('satisfeito')">
          <object type="image/svg+xml" data="img/esm/esm-02.svg">
          </object>
        </ion-radio>
      </div>
      <div class="col">
        <ion-radio ng-model="esmradio" value="'indiferente'" id="indiferente" ng-click="setResponse('indiferente')">
          <object type="image/svg+xml" data="img/esm/esm-03.svg">
          </object>
        </ion-radio>
      </div>
      <div class="col">
        <ion-radio ng-model="esmradio" value="'insatisfeito'" id="insatisfeito" ng-click="setResponse('insatisfeito')">
          <object type="image/svg+xml" data="img/esm/esm-04.svg">
          </object>
        </ion-radio>
      </div>
      <div class="col">
        <ion-radio ng-model="esmradio" value="'muito_insatisfeito'" id="muito_insatisfeito" ng-click="setResponse('muito_insatisfeito')">
          <object type="image/svg+xml" data="img/esm/esm-05.svg">
          </object>
        </ion-radio>
      </div>
    </div>
  </div>
</div>
