<div class="attrakdiff">
  <div class="helper-tech">Arraste o marcador para a emoção que mais se identifica</div>
  <div class="data">
    <ion-list>
      <div class="item item-divider">
        Identidade
      </div>
      <div class="item range range-positive">
        <span> Isolador</span>
        <input type="range" ng-model="attrakdiff['conectivo']" min="0" max="6" value="3" id='conectivo' ng-change="setResponse('conectivo')">
        <span> Conectivo</span>
      </div>
      <div class="item range range-positive">
        <span> Não profissional</span>
        <input type="range" ng-model="attrakdiff['profissional']" min="0" max="6" value="3" id='profissional' ng-change="setResponse('profissional')">
        <span> Profissional</span>
      </div>
      <div class="item range range-positive">
        <span> Desalinhado</span>
        <input type="range" ng-model="attrakdiff['elegante']" min="0" max="6" value="3" id='elegante' ng-change="setResponse('elegante')">
        <span> Elegante</span>
      </div>
      <div class="item range range-positive">
        <span> Inferior</span>
        <input type="range" ng-model="attrakdiff['superior']" min="0" max="6" value="3" id='superior' ng-change="setResponse('superior')">
        <span> Superior</span>
      </div>
      <div class="item range range-positive">
        <span> Alienador</span>
        <input type="range" ng-model="attrakdiff['integrador']" min="0" max="6" value="3" id='integrador' ng-change="setResponse('integrador')">
        <span> Integrador</span>
      </div>
      <div class="item range range-positive">
        <span> Me afasta</span>
        <input type="range" ng-model="attrakdiff['meaproxima']" min="0" max="6" value="3" id='meaproxima' ng-change="setResponse('meaproxima')">
        <span> Me aproxima</span>
      </div>
      <div class="item range range-positive">
        <span> Não apresentável</span>
        <input type="range" ng-model="attrakdiff['apresentavel']" min="0" max="6" value="3" id='apresentavel' ng-change="setResponse('apresentavel')">
        <span> Apresentável</span>
      </div>
      <div class="item item-divider">
        Estímulo
      </div>
      <div class="item range range-positive">
        <span> Convencional</span>
        <input type="range" ng-model="attrakdiff['inventivo']" min="0" max="6" value="3" id='inventivo' ng-change="setResponse('inventivo')">
        <span> Inventivo</span>
      </div>
      <div class="item range range-positive">
        <span> Sem imaginação</span>
        <input type="range" ng-model="attrakdiff['criativo']" min="0" max="6" value="3" id='criativo' ng-change="setResponse('criativo')">
        <span> Criativo</span>
      </div>
      <div class="item range range-positive">
        <span> Cauteloso</span>
        <input type="range" ng-model="attrakdiff['ousado']" min="0" max="6" value="3" id='ousado' ng-change="setResponse('ousado')">
        <span> Ousado</span>
      </div>
      <div class="item range range-positive">
        <span> Conservador</span>
        <input type="range" ng-model="attrakdiff['inovador']" min="0" max="6" value="3" id='inovador' ng-change="setResponse('inovador')">
        <span> Inovador</span>
      </div>
      <div class="item range range-positive">
        <span> Entediante</span>
        <input type="range" ng-model="attrakdiff['cativante']" min="0" max="6" value="3" id='cativante' ng-change="setResponse('cativante')">
        <span> Cativante</span>
      </div>
      <div class="item range range-positive">
        <span> Pouco exigente</span>
        <input type="range" ng-model="attrakdiff['desafiador']" min="0" max="6" value="3" id='desafiador' ng-change="setResponse('desafiador')">
        <span> Desafiador</span>
      </div>
      <div class="item range range-positive">
        <span> Comum</span>
        <input type="range" ng-model="attrakdiff['unico']" min="0" max="6" value="3" id='unico' ng-change="setResponse('unico')">
        <span> Único</span>
      </div>
    </ion-list>
  </div>
</div>
