<div class="sam">
  <div class="helper-tech">Arraste para o nível que mais se identifica com você, sendo 1 o de menor grau e 9 o de maior. As posições de número par equivalem ao meio termo entre duas emoções.</div>
  <div class="data">
    <ion-list>
      <div class="item item-divider layout-row layout-align-space-between-center">
        <span>Prazer</span>
        <span>{{getNumber(sam['prazer'],1)}}</span>
      </div>
      <div class="item">
        <object type="image/svg+xml" data="img/sam/sam-01.svg">
        </object>
        <div class="range range-positive">
          <input type="range" ng-model="sam['prazer']" min="0" max="8" value="4" id='prazer' ng-change="setResponse('prazer')">
        </div>
      </div>
      <div class="item item-divider layout-row layout-align-space-between-center">
        <span>Excitação</span>
        <span>{{getNumber(sam['excitacao'],1)}}</span>
      </div>
      <div class="item">
        <object type="image/svg+xml" data="img/sam/sam-02.svg">
        </object>
        <div class="range range-positive">
          <input type="range" ng-model="sam['excitacao']" min="0" max="8" value="4" id='excitacao' ng-change="setResponse('excitacao')">
        </div>
      </div>
      <div class="item item-divider layout-row layout-align-space-between-center">
        <span>Dominância</span>
        <span>{{getNumber(sam['dominancia'],1)}}</span>
      </div>
      <div class="item">
        <object type="image/svg+xml" data="img/sam/sam-03.svg">
        </object>
        <div class="range range-positive">
          <input type="range" ng-model="sam['dominancia']" min="0" max="8" value="4" id='dominancia' ng-change="setResponse('dominancia')">
        </div>
      </div>
    </ion-list>
  </div>
</div>
